.aside {
  max-width: 282px;
  background-color: var(--neutral-header);
  min-height: 100vh;
  padding: 80px 40.02px;
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.footer {
  font-size: 13;
  line-height: 120%;
  color: var(--neutral-text);
  text-align: center;
}
