.wrapper {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background-color: var(--neutral-darker) ;
    overflow: hidden;
}

.filled {
    background-color: var(--primary-highlight);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--neutral-darker);
    transition: width 0.3s ease;
    font-size: 16px;
    line-height: 120%;
    font-weight: 400;
}